body{
  
  li{
    list-style: none;
  }
  a::before  {
    text-decoration: none;
  }
 
    header{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        

        img{
            width: 40px;
    
        }

        .divlogo{
            position: relative;
            margin-left: 50px;
            .logo{
                width: 80px;
            }

        }
        .menu__btn {
          position: relative;
          margin-right: 20px;
         
        }


        .icone{
            display: flex;
            position: relative;
            margin-right: 50px;
            align-items: center;
            
            .compte{
               position: relative;
               margin-right: 10px;
                cursor: pointer;

            }
            .menu__btn {
              position: relative;
              margin-right: 20px;
              display: flex;
              
              width: 36px;
              height: 66px;
              cursor: pointer;
             
            }
            
            .menu__box {
              display: none;
              position: fixed;
              top: 0;
              right: 0%;
              width: 300px;
              height: 100%;
              margin: 0;
              padding: 80px 0;
              list-style: none;
              background-color: #ECEFF1;
              box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
              transition-duration: .25s;
              &.active{
                display : block;
              }
            }
            .menu__item {
              display: block;
              padding: 12px 24px;
              color: #333;
              font-family: 'Roboto', sans-serif;
              font-size: 20px;
              font-weight: 600;
              text-decoration: none;
              transition-duration: .25s;
                &:hover{
                  background-color: #CFD8DC;
                }
                .sous_menu{
                  display: none;
                  flex-direction:row;
                  padding: 12px 24px;
  
                  &.hover{
                    background-color: #CFD8DC;

                  }
                  .sous_menu__item{
                    color: #333;
                    &:hover
                    {
                      background-color: red;
                    }

                  }
                  
                }
              }
                
            }
              
          }
            
            button{
              cursor: pointer;
              color: blue
            }

        
       
    

    
        
        }
      

      .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    
        &.active {
            display: flex;
        }
        .popup {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            padding: 2rem;
            position: relative;
            width: 500px;
        
            .close{
                background-color: #fff;
                color: rebeccapurple;
                font-size: 2rem;
                position: absolute;
                top: 10px;
                right: 10px;
            }
          .creer{
            text-decoration:solid;
          }    
        }
      }

      .creer-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    
        display: none;
        align-items: center;
        justify-content: center;
    
    
        &.active {
            display: flex;
            flex-direction: column;
        }
        .creer {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            padding: 2rem;
            position: relative;
            width: 500px;
            display: flex;
            flex-direction: column;
        
            .close{
                background-color: #fff;
                color: rebeccapurple;
                font-size: 2rem;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    .Confirmer-container {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
  
      display: none;
      align-items: center;
      justify-content: center;
  
  
      &.active {
          display: flex;
      }
      .confirmer {
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          padding: 2rem;
          position: relative;
          width: 500px;
      
          .close{
              background-color: #fff;
              color: rebeccapurple;
              font-size: 2rem;
              position: absolute;
              top: 10px;
              right: 10px;
          }
      }
  }

      